.producer-top-bar {
  display: flex;
  /*justify-content: space-around;*/
  padding: 0;
  background: #333333;
  color: #cccccc;
}
.producer-top-bar-item {
  display: inline-block;
  margin-left: 2em;
  cursor: pointer;
  padding: 0.5em;

  &.active {
    background: #cccccc;
    color: #000000;
  }
}
.producer-top-bar-item:hover {
  background: #aaaaaa;
  color: #000;
}

.producer-subpage {
  margin: 0.5em 0;
  background: #bbb;
}

.producer-product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  //width: 20%;
  width: calc(20% - 30px);;
  background: #999;
  padding: 5px;
  margin: 10px;

  img {
    width: 100%;
    max-width: 100%;
  }
}