{% extends 'base.html.twig' %}

{% block title %}Customers{% endblock %}

{% block body_title %}Customers{% endblock %}

{% block stylesheets %}
    <style>
        #customer-list {
            width: 100%;
        }
        #customer-list tr td {
            width: 50px;
        }
    </style>
{% endblock %}

{% block body %}
    <table id="customer-list">
        <tr>
            <td>First Name</td>
            <td> | </td>
            <td>Last Name</td>
            <td> | </td>
            <td>Country</td>
        </tr>
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.firstName }}</td>
                <td> | </td>
                <td>{{ customer.lastName }}</td>
                <td> | </td>
                <td>{{ customer.idCountries.name }}</td>
            </tr>
        {% endfor %}
    </table>
    {#{% for result in db_result %}#}
    {#{{ result[1] }}<br>#}
    {#{% endfor %}#}

{% endblock %}
