{% extends 'base.html.twig' %}

{% block content %}
    {% for category in categories %}
        {% if category.products is not empty %}
            <hr>
            <h2>{{ category.name }}</h2>
            <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
                {% for product in category.products %}
                    {% include 'Product/parts/_cell.html.twig' with {'product': product} %}
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
