$shade-multiplier: 25;

$main-theme-color: #663399;
$main-theme-color: #00aa00;
$main-theme-color: #178900;
$main-theme-color: #DD6600;
$main-theme-color: #013ADF;
$main-theme-color: #8A0808;

$main-theme-color-inactive: #aaa;

$main-font-color: #333;
$main-font-color-inverted: #FFF;
