{% extends 'base.html.twig' %}

{% block title %}Search products{% endblock %}

{% block content %}
    <div style="position: sticky; top: 10px; background: #FFFFFF; box-shadow: 0 0 10px 5px #000; margin: 10px 0;">
        ###
        Search fields:<br>
        - price (min, max)<br>
        - category<br><br>

        <input type="number" placeholder="Price min">
        <input type="number" placeholder="Price max">
        <br>
    </div>

    {% if products is empty %}
        No Products found
    {% endif %}

    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
    {% for product in products %}
        {% include 'Product/parts/_cell.html.twig' with {'product': product} %}
    {% endfor %}
    </div>
    <br>
    ### pagination
{% endblock %}
