<div>
    {{ form_start(form, {'attr': {'id': 'search_bar', 'style': 'display: flex'}}) }}
        {{ form_widget(form['query']) }}
        <button type="submit"><i class="fas fa-search"></i></button>
    {{ form_end(form) }}
</div>
