{% extends '@Infrastructure/base.html.twig' %}
{% block title %}Invoice List{% endblock %}

{% block content %}
    <table class="entity-list">
    {% for invoice in invoices %}
        <tr class="entity-list-row">
            <td class="entity-list-cell">
                {{ invoice.name }}
            </td>
            <td class="entity-list-cell">
                {{ invoice.idUsers.login }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}