{% extends 'base.html.twig' %}

{% block title %}Shopping cart - summary{% endblock %}

{% block content %}
    ### somehow lock the session when summary is viewed, so you can't add more products in other tabs
    <br>

    ### products from the cart
    <br>
    ### chosen delivery option
    <br>

    ### Accept some things...
    <br>
    <a href="" class="button">PAY <i class="fas fa-hand-holding-usd"></i></a>
{% endblock %}
