@import "constants";

body {
    font-family: 'Dosis', sans-serif;
    font-size: 20px;
    color: #555555;
}

a {
    text-decoration: none;
    color: #555555;

    &:hover, &:active {
        text-decoration: none;
        color: #222222;
    }
}

h1 {
    margin: 0;
    color: #333333;
}

input {
    padding: 2px 5px;
    border: 1px solid $main-theme-color;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px $main-theme-color-darkerer inset;
    }
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    // TODO: maybe finish
}

select {
    padding: 2px 0;
    background: none;
    border: 1px solid $main-theme-color;

    &:focus {
        outline: none;
        box-shadow: 0 0 5px $main-theme-color-darkerer inset;
    }
}

.red {
    color: #FF0000;
}

.button {
    display: inline-block;
    padding: 10px;
    background: $main-theme-color;
    color: $main-font-color;
    text-align: center;
    cursor: pointer;

    &:hover {
        background: $main-theme-color-hover;
    }

    &.inactive {
        background: $main-theme-color-inactive;
        cursor: default;

        &:hover {
            background: $main-theme-color-inactive;
        }
    }

    &.active {
        background: $main-theme-color-dark;
    }
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.page-title {
    margin: 0 auto;
    width: 100%;
    //height: 70px;
    overflow: hidden;
    text-align: center;
    background: #ccc;

    //&.page-title-scrolled {
    //  height: 35px;
    //
    //  h1 {
    //    font-size: 18px;
    //    line-height: 35px;
    //  }
    //}

    h1 {
        line-height: 60px;
        font-weight: bold;
    }
}

.action-bar {
    padding: 5px 10px;
    background: #ddd;
    //border-bottom: 3px solid $main-theme-color;
    box-shadow: 0 3px 3px $main-theme-color;

    .action-bar-content {
        max-width: 1200px;
        margin: 0 auto;

        .action-bar-button {
            font-weight: bold;
        }

        .action-bar-export {
            position: relative;
            float: right;

            .action-bar-export-list {
                position: absolute;
                right: 0;
                padding: 0;
                list-style: none;
                text-align: center;

                li {
                    display: block;

                    a {
                        display: block;
                        color: $main-font-color;
                    }
                }
            }
        }
    }
}

.confirmation-box {
    display: none;
    position: fixed;
    top: 20%;
    left: 10%;
    width: 80%;
    padding: 15px;
    text-align: center;
    background: #ccc;
    z-index: 70;

    box-shadow: 0 0 10px black;

    .button {
        min-width: 100px;
        margin: 20px 10px 0 10px;
    }
}

.page-content {
    max-width: 1200px;
    margin: 125px auto 0 auto;
    padding: 10px;
}

.module-box {
    background: #ccc;
    margin: 10px 0 10px 0;
    box-shadow: 3px 3px 10px black;
    min-height: 40px;
    overflow: hidden;

    .module-box-title {
        height: 40px;
        line-height: 30px;
        width: 100%;
        text-align: center;
        color: #333333;
        padding: 5px;
        background: #AAAAAA;
        font-weight: bold;
    }

    .module-box-content {
        padding: 5px 0;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .module-box {
        width: calc(50% - 12px);
        display: inline-table;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.flash-message-list {
    position: fixed;
    top: -60px;
    width: 100%;
    text-align: center;

    .flash-message {
        height: 50px;
        line-height: 50px;
        //border-radius: 10px;
        width: 70%;
        margin: 0 auto;
        box-shadow: 0 0 10px #000;
    }

    .flash-success {
        background-color: #00FF26;
    }

    .flash-notice {
        background-color: #00EFFF;
    }

    .flash-warning {
        background-color: #FFC900;
    }

    .flash-error {
        background-color: #F21515;
        color: #FFFFFF;
    }
}

.entity-list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

    th {
        text-align: center;
        padding: 5px;
    }

    td {
        padding-left: 10px;
        padding-right: 10px;

        &:last-child {
            padding-right: 5px;
        }
    }

    .entity-list-header {
        height: 40px;
        background: #cccccc;
    }

    .entity-list-filters {
        td {
            padding: 5px 0 5px 0;

            input {
                width: 100%;
                border-left: 0;
            }

            &:nth-child(1) {
                input {
                    border-left: 1px solid $main-theme-color;
                }
            }
        }
    }

    .entity-list-row {
        height: 35px;

        &:nth-child(odd) {
            background: #dddddd;
        }

        &:hover {
            background: $main-theme-color-lighter;
        }

        .entity-list-cell {
            padding: 0 10px;
        }
    }

    .entity-list-content {
        margin: 10px 0 0 0;
    }
}

.entity-show-table {
    max-width: 800px;
    margin: 0 auto;

    td {
        padding: 5px;

        &:first-child {
            width: 30%;
            text-align: right;
            font-weight: bold;
        }

        &:last-child {
            width: 70%;
            text-align: left;
        }
    }

    th {
        padding: 5px;
    }

    &.product-sizes-table {
        tr {
            border-top: 1px solid black;

            &:first-child {
                border-top: none;
            }

            td {
                font-weight: normal;

                &:first-child, &:last-child {
                    width: 50%;
                    text-align: right;
                }

                &:first-child {
                    border-right: 1px solid black;
                }
            }
        }

    }
}

.entity-new-table {
    width: 100%;
    margin: 0 auto;

    td {
        padding: 5px;

        &:first-child {
            text-align: right;
        }

        &:last-child {
            input, select {
                width: 100%;
            }
        }
    }
}

.user-input-table {
    max-width: 600px;
    margin: 0 auto;

    td {
        width: 50%;
        padding: 5px;

        &:first-child {
            text-align: right;
        }
    }
}

.invoice-total-price-cell {
    border-top: 2px solid #555555;
}

.hidden {
    max-width: 0;
    max-height: 0;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.body-overlay {
    position: fixed;
    background: #000000;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    visibility: hidden;
    z-index: 50;
}

@import 'Parts/pagination';