$main-theme-color: #663399;
$main-theme-color-light: $main-theme-color + 50;
$main-theme-color-lighter: $main-theme-color + 100;
$main-theme-color-dark: $main-theme-color - 50;
$main-theme-color-darker: $main-theme-color - 100;
$main-theme-color-hover: $main-theme-color - 50;

$main-font-color: #ffffff;