{% extends 'Infrastructure/baseList.html.twig' %}

{% block title 'User list' %}

{% block entityList %}
    <table class="entity-list user-list" entity="user">
        <colgroup>
            <col>
            <col width="150px">
            <col width="200px">
            <col width="40px">
        </colgroup>
        <tr class="entity-list-header">
            <th>
                <ua column="u.login" route="user_async_list">
                    Login
                    <i class="fas fa-sort-up"></i>
                </ua>
            </th>
            <th>
                <ua column="u.login" route="user_async_list">
                    Email
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </ua>
            </th>
            <th>
                <ua column="r.name" route="user_async_list">
                    Role
                    <i class="fa fa-sort" aria-hidden="true"></i>
                </ua>
            </th>
            <th></th>
        </tr>
        <tr class="entity-list-filters">
            <td>
                <input type="text" placeholder="Search..." title="Search" column="u.login" route="user_async_list">
            </td>
            <td>
                <input type="text" placeholder="Search..." title="Search" column="u.email" route="user_async_list">
            </td>
            <td>
                <input type="text" placeholder="Search..." title="Search" column="r.name" route="user_async_list">
            </td>
        </tr>
        <tbody class="entity-list-content"></tbody>
    </table>
{% endblock %}
